*.log
.cache/*
.pybuilder/
.ipynb_checkpoints
.env
.venv
.idea/
.vscode/*
.clangd
.idea/
.history/
.DS_Store/

env/
venv/
ENV/
env.bak/
venv.bak/
build/
bin/
__pycache__/

cmake-build-debug/
cmake-build-release/

